.person-select-search-container {
  margin-bottom: 15px;
}

.person-select-values-container {
  max-height: 160px;
  overflow-y: auto;
}

.trainer-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
