<mat-list>
  <div mat-subheader class="trainee-cart-side-nav-list-header">
    <div class="title-with-actions">
      <span class="title">
        {{ 'traineeCartTrainingTemplateTitle' | transloco }}
      </span>
      <button mat-icon-button (click)="openTrainingTemplateSelectionModal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  @for (trainingTemplate of selectedTrainingTemplates$.value; track trainingTemplate; let i = $index) {
    <mat-list-item
      [ngClass]="isSelected(trainingTemplate.id) ? 'selected' : ''"
      class="trainee-cart-side-nav-list"
      (click)="listItemClickHandler(trainingTemplate)"
    >
      <h1 class="item-num" matListItemIcon>{{ i + 1 }}.</h1>
      <div matListItemTitle>
        <span class="item-active-span" (click)="openTrainingTemplateViewModal(trainingTemplate)">
          {{ trainingTemplate.name }}
        </span>
      </div>
      @for (certificateTemplate of trainingTemplate.certificateTemplates; track certificateTemplate) {
        <div matListItemLine>
          <span class="item-active-span" (click)="openCertificateTemplateViewModal(certificateTemplate)">
            {{ getCertificateDescription(certificateTemplate) }}
          </span>
        </div>
      }
    </mat-list-item>
  }
</mat-list>
