<div class="title-container">
  <span class="page-title">
    {{ 'trainerPageTitle' | transloco }}
  </span>
</div>

<app-table-wrapper #tableWrapper [tableId]="'trainerDictionaryTable'" [displayedColumns]="displayedColumns">
  <ng-container table-buttons>
    <app-crud-btns
      [viewComponent]="viewComponent"
      [createUpdateComponent]="createUpdateComponent"
      [parentSelection]="tableWrapper.selection"
      [service]="trainerService"
      (loadData)="loadTrainers()"
    >
    </app-crud-btns>
  </ng-container>
</app-table-wrapper>
