<div class="trms_gantt_event_tooltip" [style.background-color]="backColor()">
  <p title="{{ syllabusName }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipSyllabusName' | transloco }}: </span>
    <span>
      {{ syllabusName }}
    </span>
  </p>
  <p title="{{ trainingTemplateName }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipTrainingTemplateName' | transloco }}: </span>
    <span>
      {{ trainingTemplateName }}
    </span>
  </p>
  <p title="{{ trainingName }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipTrainingName' | transloco }}: </span>
    <span>
      {{ trainingName }}
    </span>
  </p>
  <p title="{{ moduleName }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipModuleName' | transloco }}: </span>
    <span>
      {{ moduleName }}
    </span>
  </p>
  <p title="{{ moduleTime }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipModuleTime' | transloco }}: </span>
    <span>
      {{ moduleTime }}
    </span>
  </p>
  <p title="{{ trainingGroup }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipTrainingGroup' | transloco }}: </span>
    <span>
      {{ trainingGroup }}
    </span>
  </p>
  <p title="{{ roomName }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipRoomName' | transloco }}: </span>
    <span>
      {{ roomName }}
    </span>
  </p>
  <p title="{{ trainingFactualStatusId }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipTrainingFactualStatus' | transloco }}: </span>
    <span>
      {{ 'trainingFactualStatus.' + trainingFactualStatusId | transloco }}
    </span>
  </p>
  <p title="{{ mainTrainersNames }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipMainTrainerName' | transloco }}: </span>
    <span>
      {{ mainTrainersNames }}
    </span>
  </p>
  <p title="{{ linearTrainersNames }}">
    <span class="trms_gantt_tooltip_label"> {{ 'ganttEventTooltipLinearTrainerName' | transloco }}: </span>
    <span>
      {{ linearTrainersNames }}
    </span>
  </p>
</div>
