<app-common-modal #modal [modalSize]="'L'">
  <ng-container modal-header>
    <h1 class="modal-title">
      {{ 'aimsIntegrationInfoDetailPageTitle' | transloco }}
    </h1>
  </ng-container>

  <ng-container modal-content>
    <app-table-wrapper
      #tableWrapper
      [tableId]="'aimsIntegrationInfoDetailModalTable'"
      [displayedColumns]="displayedColumns"
      [tableColTemplateList]="tableColTemplateList"
      [tableContainerClass]="'mat-elevation-z8 modal-table'"
    >
      <ng-template tableWrapperColumn="sessionCode" let-aimsIntegrationInfoDetail="row">
        <a [href]="getTrainingUrl(aimsIntegrationInfoDetail)" target="_blank">{{
          aimsIntegrationInfoDetail.sessionCode
        }}</a>
      </ng-template>
    </app-table-wrapper>
  </ng-container>

  <ng-container modal-footer>
    <div>
      <button mat-raised-button color="warn" (click)="modal.closeBtnAction()">
        {{ 'closeBtn' | transloco }}
      </button>
    </div>
  </ng-container>
</app-common-modal>
