<app-common-modal #modal>
  <ng-container modal-header>
    <h1 class="modal-title">
      {{
        dialogParams?.isUpdate
          ? ('cityModalPageEditTitle' | transloco)
          : dialogParams?.isView
            ? ('cityModalPageViewTitle' | transloco)
            : ('cityModalPageCreateTitle' | transloco)
      }}
    </h1>
  </ng-container>

  <ng-container modal-content>
    <form [formGroup]="modalForm">
      <div class="input-fields-container">
        <!--   NAME RU   -->
        <div class="modal-input-field">
          <p class="modal-input-field-title">
            {{ 'cityNameRuColTable' | transloco }}
          </p>

          <mat-form-field appearance="outline">
            <input
              matInput
              required
              [placeholder]="'cityNameRuColTable' | transloco"
              [(ngModel)]="city.nameRu"
              formControlName="nameRu"
              [readonly]="dialogParams?.isView"
            />
          </mat-form-field>

          <div class="error-message">
            @if (isFieldEmpty('nameRu')) {
              <span>
                {{ 'validatorsEmptyFieldMessage' | transloco }}
              </span>
            }
          </div>
        </div>

        <!--   NAME KZ   -->
        <div class="modal-input-field">
          <p class="modal-input-field-title">
            {{ 'cityNameKzColTable' | transloco }}
          </p>

          <mat-form-field appearance="outline">
            <input
              matInput
              required
              [placeholder]="'cityNameKzColTable' | transloco"
              [(ngModel)]="city.nameKz"
              formControlName="nameKz"
              [readonly]="dialogParams?.isView"
            />
          </mat-form-field>

          <div class="error-message">
            @if (isFieldEmpty('nameKz')) {
              <span>
                {{ 'validatorsEmptyFieldMessage' | transloco }}
              </span>
            }
          </div>
        </div>

        <!--   NAME EN   -->
        <div class="modal-input-field">
          <p class="modal-input-field-title">
            {{ 'cityNameEnColTable' | transloco }}
          </p>

          <mat-form-field appearance="outline">
            <input
              matInput
              required
              [placeholder]="'cityNameEnColTable' | transloco"
              [(ngModel)]="city.nameEn"
              formControlName="nameEn"
              [readonly]="dialogParams?.isView"
            />
          </mat-form-field>

          <div class="error-message">
            @if (isFieldEmpty('nameEn')) {
              <span>
                {{ 'validatorsEmptyFieldMessage' | transloco }}
              </span>
            }
          </div>
        </div>

        <!--   CODE   -->
        <div class="modal-input-field">
          <p class="modal-input-field-title">
            {{ 'cityCodeColTable' | transloco }}
          </p>

          <mat-form-field appearance="outline">
            <input
              matInput
              required
              [placeholder]="'cityCodeColTable' | transloco"
              [(ngModel)]="city.code"
              formControlName="code"
              [readonly]="dialogParams?.isView"
            />
          </mat-form-field>

          <div class="error-message">
            @if (isFieldEmpty('code')) {
              <span>
                {{ 'validatorsEmptyFieldMessage' | transloco }}
              </span>
            }
            @if (isFieldNotUnique('code')) {
              <span>
                {{ 'validatorsUniqueErrorFieldMessage' | transloco }}
              </span>
            }
          </div>
        </div>

        <!--   DESCRIPTION   -->
        <div class="modal-input-field">
          <p class="modal-input-field-title">
            {{ 'cityDescriptionColTable' | transloco }}
          </p>

          <mat-form-field appearance="outline">
            <input
              matInput
              [placeholder]="'cityDescriptionColTable' | transloco"
              [(ngModel)]="city.description"
              formControlName="description"
              [readonly]="dialogParams?.isView"
            />
          </mat-form-field>

          <div class="error-message"></div>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container modal-footer>
    <div>
      @if (!dialogParams?.isView) {
        <button mat-raised-button color="primary" [disabled]="blockBtn" (click)="createOrSaveCity()">
          {{ dialogParams?.isUpdate ? ('saveBtn' | transloco) : ('createBtn' | transloco) }}
        </button>
      }
      <button mat-raised-button color="warn" (click)="modal.closeBtnAction()">
        {{ 'closeBtn' | transloco }}
      </button>
    </div>
  </ng-container>
</app-common-modal>
