<div class="input-fields-container">
  <!--   NAME   -->
  <div class="modal-input-field">
    <p class="modal-input-field-title">
      {{ 'notificationNameColTable' | transloco }}
    </p>

    <mat-form-field appearance="outline">
      <input
        matInput
        required
        [placeholder]="'notificationNameColTable' | transloco"
        [(ngModel)]="parent.notificationTemplate.name"
        [formControl]="nameControl"
        [readonly]="parent.dialogParams?.isView"
      />
    </mat-form-field>

    <div class="error-message">
      @if (parent.isFieldEmpty('name')) {
        <span>
          {{ 'validatorsEmptyFieldMessage' | transloco }}
        </span>
      }
    </div>
  </div>

  <!--   CODE   -->
  <div class="modal-input-field">
    <p class="modal-input-field-title">
      {{ 'notificationCodeColTable' | transloco }}
    </p>

    <mat-form-field appearance="outline">
      <input
        matInput
        required
        [placeholder]="'notificationCodeColTable' | transloco"
        [(ngModel)]="parent.notificationTemplate.code"
        [formControl]="codeControl"
        [readonly]="parent.dialogParams?.isView"
      />
    </mat-form-field>

    <div class="error-message">
      @if (parent.isFieldEmpty('code')) {
        <span>
          {{ 'validatorsEmptyFieldMessage' | transloco }}
        </span>
      }
      @if (parent.isFieldNotUnique('code')) {
        <span>
          {{ 'validatorsUniqueErrorFieldMessage' | transloco }}
        </span>
      }
    </div>
  </div>

  <!--   DESCRIPTION   -->
  <div class="modal-input-field">
    <p class="modal-input-field-title">
      {{ 'notificationDescriptionColTable' | transloco }}
    </p>

    <mat-form-field appearance="outline">
      <input
        matInput
        [placeholder]="'notificationDescriptionColTable' | transloco"
        [(ngModel)]="parent.notificationTemplate.description"
        [ngModelOptions]="{ standalone: true }"
        [readonly]="parent.dialogParams?.isView"
      />
    </mat-form-field>
  </div>
</div>
