<div class="title-container">
  <span class="page-title">
    {{ 'certificateTemplateGroupPageTitle' | transloco }}
  </span>
</div>

<app-table-wrapper
  #tableWrapper
  [tableId]="'certificateTemplateGroupDictionaryTable'"
  [displayedColumns]="displayedColumns"
>
  <ng-container table-buttons>
    <app-crud-btns
      [viewComponent]="createUpdateComponent"
      [createUpdateComponent]="createUpdateComponent"
      [parentSelection]="tableWrapper.selection"
      [service]="certificateTemplateGroupService"
      (loadData)="loadCertificateTemplateGroups()"
    >
    </app-crud-btns>
  </ng-container>
</app-table-wrapper>
