<app-common-modal #modal [modalSize]="'L'">
  <ng-container modal-header>
    <h1 class="modal-title">
      {{ 'notificationTemplatePageTitle' | transloco }}
    </h1>
  </ng-container>

  <ng-container modal-content>
    <app-notification-template [title]="null" [dataSourceObs]="dataSourceObs"></app-notification-template>
  </ng-container>

  <ng-container modal-footer>
    <div>
      <button mat-raised-button color="warn" (click)="modal.closeBtnAction()">
        {{ 'closeBtn' | transloco }}
      </button>
    </div>
  </ng-container>
</app-common-modal>
