<app-common-modal #modal [modalSize]="'L'">
  <ng-container modal-header>
    <h1 class="modal-title">
      {{ 'attendedTrainingPageTitle' | transloco }}
    </h1>
  </ng-container>

  <ng-container modal-content>
    <app-table-wrapper
      #tableWrapper
      [tableId]="'attendedTrainingTable'"
      [displayedColumns]="displayedColumns"
      [tableContainerClass]="'mat-elevation-z8 modal-table'"
      [tableColTemplateList]="tableColTemplateList"
    >
      <ng-template tableWrapperColumn="certificate" let-attendedTraining="row">
        @if (hasCertificate(attendedTraining)) {
          <div class="icon-col-btns-container">
            <app-certificate-issue-download-view-btns
              (click)="$event.stopPropagation()"
              [participantTrainingCardId]="attendedTraining.participantTrainingCard.id"
            >
            </app-certificate-issue-download-view-btns>
          </div>
        }
        @if (showEmptyCertificateTemplateError(attendedTraining)) {
          <span class="error-message">
            {{ 'emptyCertificateTemplateErrorMessage' | transloco }}
          </span>
        }
      </ng-template>
    </app-table-wrapper>
  </ng-container>

  <ng-container modal-footer>
    <div>
      <button mat-raised-button color="warn" (click)="modal.closeBtnAction()">
        {{ 'closeBtn' | transloco }}
      </button>
    </div>
  </ng-container>
</app-common-modal>
