<app-table-wrapper
  #tableWrapper
  [tableId]="'examTemplateTrainingTemplateTable'"
  [displayedColumns]="displayedColumns"
  [searchContainerClass]="'expansion-search-input-field'"
  [tableContainerClass]="'expansion-table'"
  [tableColTemplateList]="tableColTemplateList"
>
  <ng-template tableWrapperColumn="name" let-syllabusTemplate="row">
    <div class="row-with-action-btns">
      {{ syllabusTemplate.name }}
      <div class="row-with-action-btns-container">
        <mat-icon class="row-btns view" (click)="openViewTrainingTemplateModal(syllabusTemplate)">visibility</mat-icon>
      </div>
    </div>
  </ng-template>
</app-table-wrapper>
